<div class="card mt-5" style="margin:auto;width: 600px;">
  <div class="card-body">
    <h5 class="card-title">Bienvenido</h5>
    <div class="form-group">
      <label for="email">Usuario</label>
      <input type="text" class="form-control" id="email" placeholder="Usuario" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="email">Contraseña</label>
      <input type="password" class="form-control" id="password" placeholder="Contraseña" [(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="tryLogin()">Acceder</button>
  </div>
</div>
