<div class="clear"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Consultas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <select class="form-control" id="exampleFormControlSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <select class="form-control" id="exampleFormControlSelect3">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <select class="form-control" id="exampleFormControlSelect4">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>

      <select class="browser-default custom-select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Codigo</th>
    <th scope="col">Marca</th>
    <th scope="col">Modelo</th>
    <th scope="col">Tipo</th>
    <th scope="col">Identificador</th>
    <th scope="col">Precio Publico</th>
    <th scope="col">Precio Locatario</th>
    <th scope="col">Precio Mayoreo</th>
    <th scope="col">Disponibilidad</th>
    <th scope="col">L60</th>
    <th scope="col">L64</th>
    <th scope="col">L127</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let item of productos">
      <td>{{item.codigo}}</td>
      <td>{{item.marca}}</td>
      <td>{{item.modelo}}</td>
      <td>{{item.tipo}}</td>
      <td>{{item.identificador}}</td>
      <td>{{item.precPub}}</td>
      <td>{{item.precLocatario}}</td>
      <td>{{item.precMayoreo}}</td>
      <td>{{item.cantidadActual}}</td>
      <td>{{item.l58}}</td>
      <td>{{item.l64}}</td>
      <td>{{item.l127}}</td>
    </tr>
  </tbody>
</table>


